

<!--
<%if broker_signed_in?%>
    <%= link_to "Sign Out", destroy_broker_session_path,method: :delete, class:"nav-link active" %>
    <%= link_to "Edit Profile", edit_broker_registration_path, class:"nav-link active" %>  
<%end%>
-->
<div class='container mx-auto'>
    <div class='w-full mt-10'>
        <h3 class='text-3xl font-semibold flex-grow mb-8'>Transactions</h3>
        <% if @transactions.count != 0 %>
            <table class='w-full'>
                <thead>
                    <tr class='text-gray-500 shadow-md border'>
                        <th class='text-left font-normal py-2 pl-2'>Buyer Email</th>
                        <th class='text-left font-normal py-2'>Stock Symbol</th>
                        <th class='text-left font-normal'>Company Name</th>
                        <th class='text-left font-normal'>Price</th>
                        <th class='text-center font-normal'>Quantity</th>
                        <th class='text-left font-normal'>Total Amount</th>
                        <th class='text-left font-normal'>Date Purchased</th>
                    </tr>
                </thead>
                <tbody>
                    <% @transactions.each do |transaction| %>  
                        <tr class="shadow border-b">
                            <td class='py-4 pl-2'><%= Buyer.find(transaction.buyer_id).email %></td>
                            <td ><%= Stock.find(transaction.stock_id).symbol %></td>
                            <td ><%= Stock.find(transaction.stock_id).company_name %></td>
                            <td ><%= number_to_currency(transaction.price) %></td>
                            <td class='text-center'><%= transaction.quantity %></td>
                            <td ><%= number_to_currency(transaction.total_amount) %></td>                           
                            <td ><%= transaction.created_at.to_date %></td>                           
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% else %>
            <img src='/svg/no-result.svg' class='w-44 h-44 mx-auto mt-20'>
            <p class="text-center mt-10 text-2xl text-gray-500">No Data</p>
        <% end %>
    </div>
</div>

